body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

#navbar {
  position: fixed;
  background: whitesmoke;
  width: 100%;
  top: 0;
  height: 60px;
}

#nav-ul {
  display: flex;
  justify-content: flex-end;
}

.nav-li {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.3em;
}

main {
  margin-top: 60px;
}

#welcome-section {
  height: 100vh;
}

#welcome-message, .welcome-p {
  text-align: center;
}

#welcome-message {
  font-family: 'Delius', cursive;
  padding-top: 30vh;
  font-size: 3em;
}

@media screen and (max-width: 800px) {
    #navbar {
      height: auto;
    }

    main {
      margin-top: 86px;
    }

    #nav-ul {
      display: block;
      text-align: center;
    }
}