body {
  padding: 0;
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
}

#welcome-section {
  height: 100vh;
}

@media screen and (max-width: 800px) {
    #navbar {
      display: block;
    }
}