/* COLORS 
#934874
#C98686
#DCA875
#FFF4EC
#E7CFBC
*/

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

#navbar {
  position: fixed;
  background: #934874;
  width: 100%;
  top: 0;
  height: 60px;
}

#nav-ul {
  display: flex;
  justify-content: flex-end;
}

.nav-li {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.3em;
  transition: 0.4s;
  padding-top: 18px;
  padding-bottom: 17px;
}

.nav-li:hover {
  background-color: #DCA875;

}

.nav-li a {
  color: #FFF4EC;
  transition: 0.3s;
}

.nav-li a:hover {
  text-shadow: 2px 2px 2px #DCA875;
}

main {
  margin-top: 60px;
}

#welcome-section {
  height: 100vh;
  background-color: #FFF4EC;
}

#welcome-message, .welcome-p {
  text-align: center;
}

#welcome-message {
  font-family: 'Delius', cursive;
  padding-top: 30vh;
  font-size: 3em;
}

.welcome-p {
  padding-top: 30px;
  font-size: 1.5em;
}

#projects {
  background-color: #E7CFBC;
}

#contact {
  background-color: #DCA875;
}

#footer-section {
  background-color: #934874;
}

.footer-p {
  text-align: center;
  color: #FFF4EC;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

}

@media screen and (max-width: 600px) {
    #navbar {
      height: auto;
    }

    main {
      margin-top: 86px;
    }

    #nav-ul {
      display: block;
      text-align: center;
    }
}